<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>COMP 308 - Lab Assignment 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container" style="padding-top:10%">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h3> Comments Here: </h3>
          <form action="thankyou" style="padding-top:15px;" method="POST">
                
                <div class="form-group">
                    <label for="cname">Course Code: </label>
                    <input type="text" class="form-control" id="ccode" name="ccode" placeholder="Your Course code here...">
                </div>
      
                <div class="form-group">
                    <label for="cname">Course Name: </label>
                    <input type="text" class="form-control" id="cname" name="cname" placeholder="Your Course name here...">
                </div>
      
                <div class="form-group">
                    <label for="email">Student Email: </label>
      
                    <input type="text" class="form-control" id="email" name="email" value=<%= prefilleduname %> >
                </div>
      
                <div class="form-group">
                  <label for="topic">Favourite Topic: </label>
                  <input type="text" class="form-control" id="topic" name="topic" placeholder="Your favourite Topic here...">
                  
              </div>

              <div class="form-group">
                <label for="assign">Favourite Assignment: </label>
                <input type="text" class="form-control" id="assign" name="assignment" placeholder="Your favourite Assignment here...">
                
            </div>
                
                <div class="form-group">
                    <label for="comment">Your Comments: </label>
                    <textarea id="comment" class="form-control" name="comments" placeholder="If you wish to comment..." style="height:200px"></textarea>
                </div>
      
                <div class="form-group">
                  <input type="submit" class="btn btn-primary"  value="Submit">
                </div>
                </form>
        </div>
      </div>
  </body>
</html>
